.modal {
  width: 100%;
  height: 100%;
  background: rgba(21, 14, 40, 0.93);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
}

.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal_content > div {
  display: grid;
  place-items: center;
  border: 1px solid #d434fe;
  border-radius: 5px;
  padding: 2rem;
  gap: 2rem;
}

.modal_content img {
  width: 20rem;
}

.modal_content h3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 600;
}

.modal_content p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 600;
  display: grid;
  gap: 0.45rem;
}

.modal_content .emoji {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.emoji > img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.modal_content button {
  width: 100%;
}

@media (max-width: 480px) {
  .modal_content > div {
    padding: 2rem;
    width: 80%;
  }
  .modal_content img {
    width: 10rem;
  }
  .modal_content h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .modal_content p {
    font-size: 0.575rem;
  }
  .emoji > img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
  }
}
