.modal {
  width: 100%;
  height: 100%;
  background: rgba(21, 14, 40, 0.93);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  overflow: hidden;
}

.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal_content div {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.modal_content img {
  width: 30rem;
}

.modal_content h3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 600;
}

.modal_content p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 600;
  display: grid;
  gap: 0.45rem;
}

.modal_content .emoji {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.emoji > img {
  width: 20px;
  height: 20px;
}

.modal_content button {
  width: 100%;
}
