.timeline {
  max-width: 1200px;
  margin: auto;
  padding: 10rem 0;
}

.timeline_header {
  text-align: center;
}
.timeline_header h2 {
  color: #fff;
  font-family: "ClashDisplay-Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.timeline_header p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 172.4%; /* 24.136px */

  /*  */
  width: 30%;
  margin: auto;
  margin-top: 1rem;
}

.timeline_events {
  margin-top: 3rem;
}

.timeline_track {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 2vw;
  padding: 3vw;
}

.left_track,
.right_track {
  width: 40%;
}

.left_track {
  text-align: right;
  display: grid;
}

.right_track {
  text-align: left;
}

.line_track {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.timeline_line {
  background-color: #d434fe;
  width: 3px;
  height: 8rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeline_track .title {
  color: #d434fe;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.timeline_track .text {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.9%; /* 23.926px */
}

@media (max-width: 480px) {
  .timeline {
    padding: 4rem 0;
    overflow-x: hidden;
  }
  .timeline_events {
    padding: 0 3vw;
  }
  .timeline_header p {
    width: 80%;
  }
  .timeline_track {
    padding: 0;
    display: grid;
    grid-template-areas:
      "a b b b"
      "a c c c";
  }
  .left_track,
  .right_track {
    width: 100%;
    margin-left: 1rem;
  }

  .left_track {
    text-align: left;
  }

  .body {
    grid-area: c;
  }

  .head {
    grid-area: b;
  }

  .line_track {
    grid-area: a;
  }

  .timeline_line {
    background-color: #d434fe;
    width: 3px;
    height: 7rem;
  }

  .timeline_track {
    margin-top: 1rem;
  }

  .timeline_track .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .timeline_track .text {
    color: #fff;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%; /* 23.926px */
  }
  .body {
    margin-bottom: .5rem;
  }
}
